.dodawaniezlecenLayout{

    max-width: 1200px;

}

@media screen and (max-width: 1000px) {

    .dodawaniezlecenLayout{
  
        max-width: 1200px;

  
  }
  .alligned-title{
    margin-top: 35px;
   
}
}

  .alligned-title{
      padding-top: 3px;
      padding-left: 14px;
  }