.greenButton {
    margin-top: 20px;
    margin-left: 14px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    width: 250px;
    background-color: #109426;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .greenButton:hover {
    background-color: #16bd32;
  }
  
  .greenButtonGrid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .greenButtonPic {
    display: inline-block;
    padding-bottom: 2px;
    padding-left: 10px;
  }
  
  .greenButtonDesc {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    padding-left: 5px;
    align-self: center;
  }
  